In [1]:
import pandas as pd
import numpy as np
import os

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.
* Use Pandas to read in the measurement and station CSV files as DataFrames.
* Inspect the data for NaNs and missing values. You must decide what to do with this data.
* Save your cleaned CSV files with the prefix `clean_`.

In [12]:
#using the os.path function to get a file path that can be read in any operating system
measurement_path = os.path.join("Resources","hawaii_measurements.csv")
station_path = os.path.join("Resources","hawaii_stations.csv")

In [13]:
#use the pandas read csv function to pull the csvs into a data frame
measurement_df = pd.read_csv(measurement_path, low_memory=False)
station_df = pd.read_csv(station_path, low_memory=False)

In [26]:
#use the isnull function to find get a boolean index of whether or not a cell is blank
#then pass those indexes into the data frame to see only rows where an NaN exists.
measurement_df[measurement_df.isnull().any(axis=1)].head()

        station        date  prcp  tobs
4   USC00519397  2010-01-06   NaN    73
26  USC00519397  2010-01-30   NaN    70
29  USC00519397  2010-02-03   NaN    67
43  USC00519397  2010-02-19   NaN    63
61  USC00519397  2010-03-11   NaN    73

In [30]:
#the table below demonstrates that rows with 0 precipitation exist
#therefore it is unreasonable to assume that NaN in the prcp is equivalent to 0
measurement_df.loc[measurement_df['prcp'] == 0].head()

       station        date  prcp  tobs
1  USC00519397  2010-01-02   0.0    63
2  USC00519397  2010-01-03   0.0    74
3  USC00519397  2010-01-04   0.0    76
6  USC00519397  2010-01-08   0.0    64
7  USC00519397  2010-01-09   0.0    68

In [22]:
#use the same method as above to inspect null values in the station dataframe
#we find that there are no rows with null values in the station dataframe.
#no further cleaning necessary
station_df[station_df.isnull().any(axis=1)].head()

Empty DataFrame
Columns: [station, name, latitude, longitude, elevation]
Index: []

In [24]:
measurement_df['prcp'==NaN]

NameError: name 'NaN' is not defined

In [32]:
#drop rows where the prcp column values are NaN 
measurement_df = measurement_df.dropna(axis=0, how='any')

In [37]:
#verify that rows no longer exist
measurement_df.isnull()

       station   date   prcp   tobs
0        False  False  False  False
1        False  False  False  False
2        False  False  False  False
3        False  False  False  False
5        False  False  False  False
6        False  False  False  False
7        False  False  False  False
8        False  False  False  False
9        False  False  False  False
10       False  False  False  False
11       False  False  False  False
12       False  False  False  False
13       False  False  False  False
14       False  False  False  False
15       False  False  False  False
16       False  False  False  False
17       False  False  False  False
18       False  False  False  False
19       False  False  False  False
20       False  False  False  False
21       False  False  False  False
22       False  False  False  False
23       False  False  False  False
24       False  False  False  False
25       False  False  False  False
27       False  False  False  False
28       False  False  False  False
30       False  False  False  False
31       False  False  False  False
32       False  False  False  False
...        ...    ...    ...    ...
19513    False  False  False  False
19514    False  False  False  False
19515    False  False  False  False
19516    False  False  False  False
19517    False  False  False  False
19518    False  False  False  False
19519    False  False  False  False
19520    False  False  False  False
19521    False  False  False  False
19522    False  False  False  False
19523    False  False  False  False
19524    False  False  False  False
19525    False  False  False  False
19526    False  False  False  False
19527    False  False  False  False
19529    False  False  False  False
19530    False  False  False  False
19533    False  False  False  False
19534    False  False  False  False
19535    False  False  False  False
19536    False  False  False  False
19538    False  False  False  False
19540    False  False  False  False
19541    False  False  False  False
19542    False  False  False  False
19543    False  False  False  False
19545    False  False  False  False
19547    False  False  False  False
19548    False  False  False  False
19549    False  False  False  False

[18103 rows x 4 columns]

Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. You will need one table for measurements and one for stations.

* Create a Jupyter Notebook called `database_engineering.ipynb` and use this to complete all of your Database Engineering work.
* Use Pandas to read your cleaned measurements and stations CSV data.
* Use the `engine` and connection string to create a database called `hawaii.sqlite`.
* Use `declarative_base` and create ORM classes for each table.
  * You will need a class for `Measurement` and for `Station`.
  * Make sure to define your primary keys.
* Once you have your ORM classes defined, create the tables in the database using `create_all`.